
.about-us-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__quote{
    width: 70%;
    text-align: center;
}

.about-us__quote h1{
    font-size: 3rem;
}

.about-us__gist{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin-top: 1rem;
}
.about-us__what-we-do{

    margin-left: 0.5rem;
}

.about-us__who-we-are{
    margin-right: 0.5rem !important;
}
hr{
    height: 2px !important;
    color: #E03A3C;
}
.values-item .bx{
    color: #E03A3C;
    font-size: 3rem;
}
.card:hover{
 background:#E03A3C;
 color: #FFF;
 transition: 0.7s ease-in-out;
}

.values-items{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .mobile__app .card{
    background-color: aquamarine;
} */
/* .mobile__app .card h4:hover{
    color: #FFF !important;
} */

.web__app_back_end{
height: 250px;
}

.ui__design_soft{
    height: 500px;
}

.ui__design_adapt{
    height: 10.5rem;
}

.e__commerce_list{
    list-style: none;
}

@media (max-width: 768px){
    .about-us__gist{
        flex-wrap: wrap;
    }
}